block content 

.row.justify-content-center 
    .col-sm-6
        form(action="/search", method="get")
            label Search for a pet 
            input.form-control(name="pet")
        button(type="submit").btn.btn-primary Search 